
.row {
  padding: 40px;
  background: #000;
}

.title {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {

  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}
