
@media screen and (max-width: 1024px) {

/* app css stylesheet */

  body {
    padding-top: 20px;
    color: #ddd;
  }

  .descriptionText {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 80%;
    opacity: 0.7;
    background-color: #222;
    border-color: #222;
    color: #fff;
  }


}
